/*----------------- CONTACTO----------------- */

.contactTitle{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 4rem;
}

.contactTitle h1{
    font-size: 5rem;
    background-color:$colorprincipal;
    padding:1rem;
    width: 75%;
    margin-bottom: 2rem;
}

.contactTitle h2{
    font-size: 2.5rem;
    font-weight: 400;
    width: 90% ;
    margin-bottom: 2rem;
}

.contactForm{
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.contactForm form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 40%;
    font-size: 2rem;
}

.contactForm div input, .contactForm form div select {
    height: 4rem;
    margin-top: 1rem;
    transition: all 0.5s ease-in-out
}

.contactForm div input:focus , .contactForm form div select:focus {
    background-color: #cef7d2da;
    transform:scale(1.05)
}
.textArea label{
    margin-bottom: 1rem;
}
.contactBottom{
    display: flex;
    align-items: flex-end;
}

.contactBottom button{
    width: 20%;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color:$colorprincipal;
    padding: 1rem;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 1px 1px 1px 1px;
}

.contactBottom button a{
    text-decoration: none;
    color: black;
    font-family:$fuenteprincipal;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    width:100%;
    height:100%;
    transition: all 0.5s;
}
.contactBottom button:hover{
    background-color:white;
    color: black;
}

.contactBottom button a:hover{
    color: black;
}